/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  height: 100%;
}
body, button, input, select, textarea {
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;
}
